<div class="listaDeContenidoPerfil">
    <h3>Mi Perfil</h3>  
    <ul class="listaCategorias">
        <li><a href="/usuario/profile">Mi información</a></li>
        <li><a href="/usuario/profile/servicios">Servicios publicados</a></li>
        <li><a href="">Publicar servicio</a></li>
        <li><a href="">Ventas</a></li>
        <li><a href="">Compras</a></li>
        <li><a href="">Configuración</a></li>
    </ul>
</div>