<nav class="categorias">
    <ul>
        <li>Ingeniería</li>
        <li>Abogacia</li>
        <li>Contaduria</li>
        <li>Psicologia</li>
        <li>Comunicación</li>
        <li>Arquitectura</li>
        <li>Fotografía</li>
        <li>Finanzas</li>
        <li>Farmaceutica</li>
        <li>Carpinteria</li>
        <li>Construcción</li>
    </ul>
</nav>