<nav class="categorias">
    <% let categorias = ['Tecnologia', 'Construcción', 'Diseño', 'Administracion',
    'Ingenieria', 'Manufactura', 'Ventas', 'Transporte', 'Comunicaciones', 'Educacion',
    'Negocios', 'Idiomas', 'Salud', 'Otros'] %> 
    <ul>
        <% categorias.forEach( categoria => { %> 
            <li><a href="/servicio/filtrar/?keywords=<%= categoria %>" class="categoria">
                <%= categoria %>
            </a></li>
        <% }) %> 
        
    </ul>
</nav>