<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="css/stylesheet.css" rel="stylesheet">
    <link href="css/stylesheet_busqueda_servicios.css" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <title>jobbook-Busqueda servicios</title>
</head>
<body>

<div class="contenido">
<div class="contenedorFiltros">

    <div class="filtroDesplegable">
        <select name="filtroDesplegable" id="filtroDesplegable" aria-placeholder="Ordenar por">
            <option value="menor-precio">Precio menor a mayor</option>
            <option value="mayor-precio">Precio mayor a menor</option>
            <option value="mayor-trabajos">Mayor trabajos realizados</option>
            <option value="menor-trabajos">Menor trabajos realizados</option>
          </select>
        </div>

    <h3>Categorias</h3>
    <ul class="listaCategorias">
        <li><a href="">Administración</a></li>
        <li><a href="">Arte y diseño</a></li>
        <li><a href="">Construccion</a></li>
        <li><a href="">Diseño</a></li>
    </ul>

    <h3>Calificación</h3>
    <img class="estrellaFiltros" src="images/estrellas/5-estrella.png" alt="5star">

    <h3>Precio</h3>
        <div class="filtroPrecio">
            <input type="number" name="precioMinimoFiltro" id="precioMinimoFiltro" placeholder="Mínimo">
            <input type="number" name="precioMaximoFiltro" id="precioMaximoFiltro" placeholder="Máximo">
        </div>
    <a href=""><img class="botonBusquedaPrecio" src="images/busquedaPrecio.jpg" alt="botonBusquedaPrecio"></a>

    <h3>Ubicación</h3>
    <ul class="listaUbicaciones">
        <li><a href="">Medellín</a></li>
        <li><a href="">Bogotá</a></li>
        <li><a href="">Cali</a></li>
        <li><a href="">Barranquilla</a></li>
    </ul>
    
</div>

<div class="contenedorBusquedas">




    <div class="contenedorDetalleServicio">
        <div class="contenedorFotoPerfil">
            <img src="images/fotoPerfil.jpg" alt="">
        </div>

        <div class="contenedorDerechoBusqueda">
            <div class="contenedorTituloCalificacion">
                <div class="contenedorTitulo"> 
                    <h2>Remodelacion y adecuacion de espacios interiores y exteriores</h2>
                    <p class="nombreProfesional">Melisa Lopez</p>
                    <p class="ciudadUbicacion">Medellin</p>
                </div>
                <div class="contenedorCalificacion">  
                    <img src="images/estrellas/5-estrella.png" alt="estrella">
                    <p class="trabajosRealizados">54 trabajos realizados</p>
                    <div clas="contenedorPrecioTarifa">
                        <strong><p class="precio">$0.000</p></strong>
                        <p class="ciudadUbicacion">Tarifa por hora</p>
                    </div>
                </div>
            </div>
                <div class="contenedorDescripcion">  
                    <p> Diseño de Interiores con áreas clave como diseño de espacios, iluminación, paisajismo y decoración, hacemos de tu espacio un mejor lugar para vivir</p> 
                </div>
        </div>
    </div>
    


    <div class="contenedorDetalleServicio">
        <div class="contenedorFotoPerfil">
            <img src="images/fotoPerfil.jpg" alt="">
        </div>

        <div class="contenedorDerechoBusqueda">
            <div class="contenedorTituloCalificacion">
                <div class="contenedorTitulo"> 
                    <h2>Remodelacion y adecuacion de espacios interiores y exteriores</h2>
                    <p class="nombreProfesional">Melisa Lopez</p>
                    <p class="ciudadUbicacion">Medellin</p>
                </div>
                <div class="contenedorCalificacion">  
                    <img src="images/estrellas/5-estrella.png" alt="estrella">
                    <p class="trabajosRealizados">54 trabajos realizados</p>
                    <div clas="contenedorPrecioTarifa">
                        <strong><p class="precio">$0.000</p></strong>
                        <p class="ciudadUbicacion">Tarifa por hora</p>
                    </div>
                </div>
            </div>
                <div class="contenedorDescripcion">  
                    <p> Diseño de Interiores con áreas clave como diseño de espacios, iluminación, paisajismo y decoración, hacemos de tu espacio un mejor lugar para vivir</p> 
                </div>
        </div>
    </div><div class="contenedorDetalleServicio">
        <div class="contenedorFotoPerfil">
            <img src="images/fotoPerfil.jpg" alt="">
        </div>

        <div class="contenedorDerechoBusqueda">
            <div class="contenedorTituloCalificacion">
                <div class="contenedorTitulo"> 
                    <h2>Remodelacion y adecuacion de espacios interiores y exteriores</h2>
                    <p class="nombreProfesional">Melisa Lopez</p>
                    <p class="ciudadUbicacion">Medellin</p>
                </div>
                <div class="contenedorCalificacion">  
                    <img src="images/estrellas/5-estrella.png" alt="estrella">
                    <p class="trabajosRealizados">54 trabajos realizados</p>
                    <div clas="contenedorPrecioTarifa">
                        <strong><p class="precio">$0.000</p></strong>
                        <p class="ciudadUbicacion">Tarifa por hora</p>
                    </div>
                </div>
            </div>
                <div class="contenedorDescripcion">  
                    <p> Diseño de Interiores con áreas clave como diseño de espacios, iluminación, paisajismo y decoración, hacemos de tu espacio un mejor lugar para vivir</p> 
                </div>
        </div>
    </div><div class="contenedorDetalleServicio">
        <div class="contenedorFotoPerfil">
            <img src="images/fotoPerfil.jpg" alt="">
        </div>

        <div class="contenedorDerechoBusqueda">
            <div class="contenedorTituloCalificacion">
                <div class="contenedorTitulo"> 
                    <h2>Remodelacion y adecuacion de espacios interiores y exteriores</h2>
                    <p class="nombreProfesional">Melisa Lopez</p>
                    <p class="ciudadUbicacion">Medellin</p>
                </div>
                <div class="contenedorCalificacion">  
                    <img src="images/estrellas/5-estrella.png" alt="estrella">
                    <p class="trabajosRealizados">54 trabajos realizados</p>
                    <div clas="contenedorPrecioTarifa">
                        <strong><p class="precio">$0.000</p></strong>
                        <p class="ciudadUbicacion">Tarifa por hora</p>
                    </div>
                </div>
            </div>
                <div class="contenedorDescripcion">  
                    <p> Diseño de Interiores con áreas clave como diseño de espacios, iluminación, paisajismo y decoración, hacemos de tu espacio un mejor lugar para vivir</p> 
                </div>
        </div>
    </div><div class="contenedorDetalleServicio">
        <div class="contenedorFotoPerfil">
            <img src="images/fotoPerfil.jpg" alt="">
        </div>

        <div class="contenedorDerechoBusqueda">
            <div class="contenedorTituloCalificacion">
                <div class="contenedorTitulo"> 
                    <h2>Remodelacion y adecuacion de espacios interiores y exteriores</h2>
                    <p class="nombreProfesional">Melisa Lopez</p>
                    <p class="ciudadUbicacion">Medellin</p>
                </div>
                <div class="contenedorCalificacion">  
                    <img src="images/estrellas/5-estrella.png" alt="estrella">
                    <p class="trabajosRealizados">54 trabajos realizados</p>
                    <div clas="contenedorPrecioTarifa">
                        <strong><p class="precio">$0.000</p></strong>
                        <p class="ciudadUbicacion">Tarifa por hora</p>
                    </div>
                </div>
            </div>
                <div class="contenedorDescripcion">  
                    <p> Diseño de Interiores con áreas clave como diseño de espacios, iluminación, paisajismo y decoración, hacemos de tu espacio un mejor lugar para vivir</p> 
                </div>
        </div>
    </div>



    
</div>
</div>
</body>
</html>