<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>jobbook-Busqueda servicios</title>
</head>
<body>

<p>Ordenar por</p>

<div class="contenedorFiltros">
    <h3>Categorias</h3>
    <ul class="listaCategorias">
        <li><a href="">Administración</a></li>
        <li><a href="">Arte y diseño</a></li>
        <li><a href="">Construccion</a></li>
        <li><a href="">Diseño</a></li>
    </ul>

    <h3>Calificación</h3>
    <img class="estrellaFiltros" src="images/star.jpg" alt="1star">

    <h3>Precio</h3>
        <div class="filtroPrecio">
            <input type="number">
            <p>-</p>
            <input type="number">
        </div>
    <img class="botonBusquedaPrecio" src="images/busquedaPrecio.jpg" alt="botonBusquedaPrecio">

    <h3>Ubicación</h3>
    <ul class="listaUbicaciones">
        <li><a href="">Medellín</a></li>
        <li><a href="">Bogotá</a></li>
        <li><a href="">Cali</a></li>
        <li><a href="">Barranquilla</a></li>
    </ul>
    
</div>


<div class="contenedorBusquedas">
    <div id="contenedorDetalleServicio">
        <div class="contenedorFotoPerfil">
            <img src="images/fotoPerfil.jpg" alt="">
        </div>

        <div class="contenedorDerechoBusqueda">
            <div class="contenedorTituloCalificacion">
                <div class="contenedorTitulo"> 
                    <h2>Titulo del servicio</h2>
                    <p class="nombreProfesional">Nombre del Profesional</p>
                    <p class="ciudadUbicacion">ciudad Ubicacion</p>
                </div>
                <div class="contenedorCalificacion">  
                    <img src="images/star.jpg" alt="">
                    <p class="trabajosRealizados">333 trabajos realizados</p>
                    <div clas="contenedorPrecioTarifa">
                        <p class="precio">$0.000</p>
                        <p class="ciudadUbicacion">Tarifa por hora</p>
                    </div>
                </div>
            </div>
            <div class="contenedorDescripcion">  
                <p>descripcion Lorem ipsum dolor sit amet consectetur adipisicing elit. Non libero officiis quod id minima autem nobis voluptas rerum cum fuga velit nam similique, porro dolorum animi laboriosam natus facilis corrupti!</p> 
            </div>
        </div>
    </div>
</div>
</body>
</html>