<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>jobbook-Servicio</title>
</head>
<body>
    
    <ul>
        <li><a href="">Construccion</a></li>
        <li><a href="">Remodelaciones</a></li>
    </ul>

    <section>
    <div class="contenedorDetalle">
        <div class="imagenesMiniatura">
            <img src="images/imagenes-servicios/miniatura-1.jpg" alt="miniatura1"> 
            <img src="images/imagenes-servicios/miniatura-2.jpg" alt="miniatura2"> 
            <img src="images/imagenes-servicios/miniatura-3.jpg" alt="miniatura3">            
        </div>
        <div class="imagenPrincipal">
            <img src="images/imagenes-servicios/imagen-principal.jpg" alt="imagenPrincipal"> 
        </div>
        <div class="descripcionServicio">
            <h2>Remodelacion de interiores</h2>
            <p class="nombreDeProfesional">Danilo Bedoya</p>
            <p class="ciudadUbicacion">Medellin-Antioquia</p>
            <p class="precio">$0.000</p>
            <p class="tarifaPorHora">Tarifa por hora</p>
            <p><a href="">Ver calificaciones</a></p>
            <img class="estrellasCalificacion" src="images/estrellas/5-estrella.png" alt="5 estrellas"/>
            <button>Contactar al experto</button>
        </div>
    </div>
    </section>

    <div class="contenedorDescripcion">
    <h2 class="descripcion">Descripción de servicios ofrecidos</h2>
    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Modi, doloremque. Laborum dicta fugit suscipit id eveniet, praesentium iste ipsa doloribus aliquid nulla qui excepturi cumque? Temporibus dicta odio nesciunt dolor.</p>
    </div>

    <div class="contenedorPreguntas">
        <h2>Pregúntale al experto</h2>
        <div class="preguntas">
        <p class="preguntaVisitante">Pregunta de visitante</p>
        <p class="respuestaExperto">Respuesta de experto</p>            
        <input class="textboxPregunta" type="text" name="pregunta" placeholder="Escribe tu pregunta..." >
        <button class="preguntarBtn" type="submit">Preguntar</button>
        </div>

        <div class="consejos">
            <p>Consejos de seguridad</p>
            <ul>
                <li>No uses servicios de pago anónimos (por ej. Western Union), ni envíes dinero al exterior.</li>
                <li>Desconfía de ofertas debajo del precio de mercado.</li>
                <li>Jobbook solo facilita la comunicacion entre terceros y no ofrece servicios profesionales</li>
                <li>Haz una descripcion detallada del servicio que requieres</li>
            </ul>
        </div>
    </div>

    <div class="calificaciones">
        <p class="numeroCalificaciones">Calificaciones: 222</p>
        <img class="estrellasCalificacion" src="images/estrellas/5-estrella.png" alt="5 estrellas"/>
        <div class="contenedorCalificaciones">
            <div class="visitanteEstrellas">
                <p>Nombre de Visitante</p>
                <img class="estrellasCalificacion" src="images/estrellas/5-estrella.png" alt="5 estrellas"/>
            </div>
            <p class="comentarioCalificacion">Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorum, non in, sunt laudantium, id itaque quia fuga placeat distinctio veritatis</p>
        </div>

        <div class="contenedorCalificaciones">
            <div class="visitanteEstrellas">
                <p>Nombre de Visitante</p>
                <img class="estrellasCalificacion" src="images/estrellas/5-estrella.png" alt="5 estrellas"/>
            </div>
            <p class="comentarioCalificacion">Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorum, non in, sunt laudantium, id itaque quia fuga placeat distinctio veritatis</p>
        </div>

        <div class="contenedorCalificaciones">
            <div class="visitanteEstrellas">
                <p>Nombre de Visitante</p>
                <img class="estrellasCalificacion" src="images/estrellas/5-estrella.png" alt="5 estrellas"/>
            </div>
            <p class="comentarioCalificacion">Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorum, non in, sunt laudantium, id itaque quia fuga placeat distinctio veritatis</p>
        </div>

        <h2>También te puede interesar</h2>
    <div class="serviciosRecomendados"></div>
        <div class="Sugerido">
            <img src="images/imagenes-servicios/imagen-principal" alt="mniatura">
            <h3>Titulo servicio Sugerido</h3>
            <p>$0.000 Tarifa por hora</p>
            <img class="estrellasSugerido" src="images/estrellas/3-estrella.png" alt="3 estrellas"/>
        </div>

        <div class="Sugerido">
            <img src="images/imagenes-servicios/imagen-principal" alt="mniatura">
            <h3>Titulo servicio Sugerido</h3>
            <p>$0.000 Tarifa por hora</p>
            <img class="estrellasSugerido" src="images/estrellas/3-estrella.png" alt="3 estrellas"/>
        </div>

        <div class="Sugerido">
            <img src="images/imagenes-servicios/imagen-principal" alt="mniatura">
            <h3>Titulo servicio Sugerido</h3>
            <p>$0.000 Tarifa por hora</p>
            <img class="estrellasSugerido" src="images/estrellas/3-estrella.png" alt="3 estrellas"/>
        </div>

        <div class="Sugerido">
            <img src="images/imagenes-servicios/imagen-principal" alt="mniatura">
            <h3>Titulo servicio Sugerido</h3>
            <p>$0.000 Tarifa por hora</p>
            <img class="estrellasSugerido" src="images/estrellas/3-estrella.png" alt="3 estrellas"/>
        </div>
    </div>

</body>
</html>