:root {
    --azul-oscuro:#253649;
    --azul-oscuro2:#364f6b;
    --azul-claro:#47688d;
    --azul-claro2:#5b81ac;
    --gris-claro: #e6e6e6;
    --gris-oscuro:#6c6c6c;
}
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Montserrat','sans-serif';
}
body {
        max-width: 1200px;
        margin: auto;
        background-color: var(--gris-claro);
        color: var(--azul-oscuro);
}
header{
    display: flex;
    align-items: center;
    margin: 10px;
    justify-content: space-between;
}
.top-nav-bar-left {
    display: flex;
    align-items: center;
    width: 50%;
}
.fa-bars {
    font-size: 1.5rem;
    padding: 10px;
}
.logo{
    margin-right: 10px;
    min-width: 220px;
}
.main-search{
    width: 23%;
    background-color: white;
    border-radius: 5px;
    height: 36px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    display: none;
}
.main-search input, .main-search button{
    border: none;
    font-size: 1rem;
    background-color: white;
    max-width: 180px;
}
.main-search input{
    flex-grow: 4;
    padding-left: 10px;
}
.main-search button{
    flex-grow: 1;
    text-align: right;
    margin-right: 10px;
}
.top-nav-bar-right button:nth-child(1) {
    display: none;   
}
.explorar {
    border: none;
    background-color: var(--gris-claro);
    padding: 10px;
    font-size: 1.2rem;
    max-width: 185px;
    height: 44px;
    display: none;
}
.button{
    border: none;
    background-color: var(--azul-claro2);
    border-radius: 5px;
    padding: 5px;
    margin: 5px;
    font-size: 1rem;
    height: 36px;
    color: white;
}
.categories{
    border-top:1px var(--gris-oscuro) solid ;
    border-bottom:1px var(--gris-oscuro) solid ;
    display: none;
}
.categories ul{
    display: flex;
    list-style: none;
}
.categories ul li{
    padding: 10px;
}
main{
    width: 100vw;
}
.top-container-image{
    background-color: var(--azul-oscuro);
    text-align: center;
    color: white;
    padding: 10px;
}
.top-container-image img {
    display: none;
    width: 100%;
}
.top-container-image h2 {
    font-size: 1.5rem;
    color: var(--gris-claro);
    padding: 8px;
}
.top-container-image .main-search{
    top: 33%;
    left: 25px;
    width: 95%;
    display: flex;
    margin: auto;
}
.categories-popular {
    display: none;
}
.categories-popular ul {
    display: flex;
    list-style: none;
}
.categories-popular ul li,.categories-popular p {
    color: var(--gris-claro);
    padding: 0 8px;
}
.categories-popular ul li {
    border: solid 2px var(--gris-claro);
    border-radius: 5px;
    margin: 0 4px;
}
.container-popular-services,.contenedorEncargarTrabajo{
    display: flex;
    flex-wrap: wrap;
}
.popular-service {
    margin: 10px;
    width: 100vw;
    position: relative;
    
}
.popular-service img{
    width: 100%;
    margin: auto;
    height: 250px;
}
.description{
    position: absolute;
    top: 5px;
    left: 5px;
    font-size: 1.5rem;
    color: var(--gris-claro);
    background-color: #6c6c6c70;
}
.encargarTrabajo{
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 10px;
}
.descripcionTrabajo{
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.descripcionTrabajo img{
    width: 20%;
}
.descripcionTrabajo h3{
    width: 70%;
}
@media (min-width: 460px) {
    .top-nav-bar-right {
        width: 48%;
        display: flex;
        align-items: center;
    }
    .top-nav-bar-right button:nth-child(1) {
        display: inline;   
    }
}
@media (min-width: 790px){
    .top-nav-bar-left {
        width: 63%;
    }
    .top-nav-bar-right {
        width: 25%;
    }
    .categories-popular {
        position: absolute;
        top: 38%;
        left: 25px;
        display: flex;
    }
    .top-container-image h2 {
        bottom: 70%;
        left: 16px;
        font-size: 2.5rem;
        font-weight: bold;
        color: var(--gris-claro);
    }
    .top-container-image .main-search{
        top: 33%;
        left: 25px;
        width: 95%;
        display: flex;
        margin: auto;
    }
}