:root {
    --azul-oscuro:#253649;
    --azul-oscuro2:#364f6b;
    --azul-claro:#47688d;
    --azul-claro2:#5b81ac;
    --gris-claro: #e6e6e6;
    --gris-oscuro:#6c6c6c;
}
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Montserrat','sans-serif';
    color: var(--azul-oscuro);
    
}
body {
        max-width: 1200px;
        margin: auto;
        background-color: var(--gris-claro);
}
header{
    display: flex;
    align-items: center;
    margin: 10px;
}
.top-nav-bar-left {
    display: flex;
    align-items: center;
    width: 63%;
}
.logo{
    margin: 10px;
}
.main-search{
    width: 23%;
    background-color: white;
    border-radius: 5px;
    height: 36px;
    display: flex;
    align-items: center;
    
}
.main-search input, .main-search button{
    border: none;
    font-size: 1rem;
    background-color: white;
    max-width: 180px;
}
.main-search input{
    width: 80%;
}
.main-search button{
    width: 20%;
}
.top-nav-bar-right {
    width: 25%;
    display: flex;
    align-items: center;
    
}
.explorar {
    border: none;
    background-color: var(--gris-claro);
    padding: 10px;
    font-size: 1.2rem;
    max-width: 185px;
    height: 44px;
}
.button{
    border: none;
    background-color: var(--azul-claro2);
    border-radius: 5px;
    padding: 5px;
    margin: 5px;
    font-size: 1rem;
    height: 36px;
    color: white;
}
.categorias{
    border-top:1px var(--gris-oscuro) solid ;
    border-bottom:1px var(--gris-oscuro) solid ;
}
.categorias ul{
    display: flex;
    list-style: none;
}
.categorias ul li{
    padding: 10px;
}