:root{                  /*los colores con 2 son mas claros*/
--azul-oscuro:#253649;
--azul-oscuro2:#364f6b;
--azul-claro:#47688d;
--azul-claro2:#5b81ac;
--gris-claro:#e6e6e6;
--gris-oscuro:#6c6c6c;
--gris-medio:#8C8C8C;
}



/*FORMATOS GENERALES PARA LA PAGINA*/
*{
    font-family: 'Montserrat', sans-serif;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body{
    background-color: var(--gris-claro);
    color: var(--azul-oscuro);
}

.usuarioLogueado{
    display:flex;
    align-items: center;
}

.usuarioLogueado p {
    margin-left: 10px;
}
