@import 'stylesheet.css';
@import 'stylesheet_home.css';



.formularioLogin, .contenedorInput{
    display: flex;
    flex-direction: column;
}
.formularioLogin{
    background-color: #6c6c6c60;
    margin: 24px;
    padding: 16px;
}
.formularioLogin h2{
    text-align: center;
    padding: 4px;
}


.imagenesServicio img{
    width: 80px;
    margin-left: 0;
}

.imagenesServicio div{
    margin-left: 15px;
}

.imagenesServicio a{
    font-size: 12px;
    text-decoration:underline;
    background-color:white ;
    color:rgb(41, 41, 114);
    cursor: pointer;
}

.imagenesServicio{
    display:flex;
    flex-wrap: wrap;
    align-items: flex-end;
    margin-bottom: 20px;
}
.tituloInput, .input{
    margin: 4px 0px;
}
.input{
    padding: 8px;
    border: none;
    border-radius: 5px;
    height: 36px;
}
.contenedorTerminos{
    justify-content: center;
    display: flex;
}
.contenedorTerminos p:nth-of-type(1){
    margin: 8px;
    font-size: 0.8rem;
}
.boton{
    border: none;
    background-color: var(--azul-claro2);
    border-radius: 5px;
    padding: 5px;
    margin: 8px 0;
    font-size: 1rem;
    height: 36px;
    color: white;
    cursor:pointer;
}
.formularioLogin p{
    padding: 4px;
    font-size: 1.1rem;
    
}
.advertencia{
    color: red;
    display: none;
}

.mensajeError{
    color: black;
    font-size: 10px;
}

@media (min-width:460px) {
    .formularioLogin{
        width: 460px;
        margin: 24px auto;
    };
}