
.imagenMiniatura{
    width: 100px;
}

.imagenPrincipal{
    width: 100%;
}

.estrellasCalificacion{
    width: 90px;
}

.estrellaCalificacion{
    width: 140px;
    margin-top: 10px;
    margin-bottom: 30px;

}

.estrellasSugerido{
    width: 100px;
}

.imagenSugerido{
    width: 100px;
    display:block;
   
}

.categoriaServicio{
    display:flex;
    list-style: none;
    margin-top: 20px;
    margin-left: 20px;
}


.categoriaServicio li{
    margin-left: 10px;
}

.categoriaServicio a {
    text-decoration: none;  
    color:black; 
}

.categoriaServicio :hover{
    color: blue;
}

.contenedorDetalle{
    display:flex;
    flex-direction: column-reverse;
    background-color: white;
    border-radius: 8px;
    padding: 20px;
    margin: 20px;
    margin-top: 0;
    margin-bottom: 0;
}

.contenedorImagenesMiniatura{
    display:flex;
    justify-content: space-around;
    width: 100%;
}

.contenedorImagenPrincipal{
    width: 100%;
    max-width: 450px;
    margin:auto;
    margin-right: 20px;
}

.descripcionServicio{
    width:100% ;
    border:solid var(--azul-claro) 1px;
    border-radius: 8px;
    padding:20px;
}

.descripcionServicio .precio{
    margin-top:15px;
}

.contenedorDescripcion p{
    text-align: justify;
}

.imagenMiniatura{
    margin:20px
}

.nombreDeProfesional{
    margin-top: 10px;
    font-size: 18px;
}

.ciudadUbicacion{
    margin-top: 5px;
    margin-bottom: 15px;
}

.precio{
    font-size: 20px;
    margin-top: 15px;
}


.verCalificaciones{
    margin-top: 15px;
}

.verCalificaciones a{
    text-decoration: none;
    color:var(--azul-oscuro);
}

.verCalificaciones :hover{
    color:blue;
}

.botonContactar{
    margin-top: 20px;
    display:flex;
    justify-content: center;
}

.botonContactar button{
    width: 220px;
    height: 40px;
    font-size: 18px;
    background-color: var(--azul-claro);
    border:0;
    border-radius: 5px;
    color:white
}

.botonContactar:hover button{
    background-color: var(--azul-oscuro);
}

.fotoPerfil{
    margin-top: 15px;
    width: 100px;
}

.contenedorDescripcion{
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 5px;
    padding:20px;
    background-color: white;
    border-radius: 5px;
}

.contenedorDescripcion p{
    margin-top: 10px;
}

.contenedorPreguntas{
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 7px;
    padding:20px;
    background-color: white;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    
}

.preguntas{
    width: 100%;
    padding-right: 40px;
}

.preguntas h2{
    margin-bottom: 20px;;
}


.preguntas .respuestaExperto{
    margin-left: 20px;
    color:var(--gris-medio);
    margin-bottom: 30px;
    margin-top: 10px;

}

.consejos{
    width: 100%;
}

.preguntas input{
    width: 90%;
    height: 60px;
}

.preguntas .preguntarBtn{
    background-color: var(--azul-claro);
    color:white;
    display:block;
    margin-top: 20px;  
    margin-bottom: 30px; 
    width: 110px;
    height: 30px;
    margin-left: auto;
    margin-right: auto;
    border:0;
}

.preguntas:hover button{
    background-color: var(--azul-oscuro);
}

.consejos h3{
margin-bottom: 20px;    
}

.consejos li{
    margin-bottom: 10px;
    margin-left: 10px;
}

.calificaciones{
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 7px;
    padding:20px;
    background-color: white;
    border-radius: 5px;
}

.comentarioCalificacion{
    margin-bottom: 20px;
}

.contenedorCalificaciones{
    margin-bottom: 20px;
}

.visitanteEstrellas{
    display:Flex;
}

.visitanteEstrellas p{
    margin-right: 10px;
}

.serviciosRecomendados{
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 7px;
    padding:20px;
    background-color: white;
    border-radius: 5px;
}

.contenedorSugeridos{
    display:flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.Sugerido{
    width: 200px;
    border-radius: 5px;
    border:0px var(--gris-medio) solid; 
    margin:20px;
    padding: 10px;  
}


.entidad{
    color:var(--gris-medio);
}

.contenedorExperiencia{
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 7px;
    padding:20px;
    background-color: white;
    border-radius: 5px;
    display:flex;
}

.experiencia{
    width: 50%;
}

.listaEstudios, .listaHabilidades{
    margin-left: 20px;
    margin-top: 15px;
}

.contenedorExperiencia li{
    margin-top: 10px;
}

.habilidades{
    width: 50%;
}

.calificaciones a{
    text-decoration: none;
}

.Sugerido a{
    text-decoration: none;
    color:var(--azul-oscuro);
}

.imagenMiniatura:hover{
    box-shadow: 10px 10px 10px rgb(172, 169, 169);
}


@media(min-width: 460px){ /* DISEÑO PARA TABLETS*/

}


@media(min-width: 790px){ /*DISEÑO PARA PC*/
    .contenedorDetalle{
        display:flex;
        flex-direction: row;
    }

    .contenedorImagenesMiniatura{
        flex-direction: column;
        justify-content: flex-start;
        width: 15%;
    }

    .contenedorImagenPrincipal{
        width: 45%;
    }

    .descripcionServicio{
        width:40% ;
    }

    .contenedorPreguntas{
        flex-direction: row;
    }

    .preguntas{
        width: 60%;
        padding-right: 40px;
    }
    .consejos{
        width: 40%;
    }

    .preguntas .preguntarBtn{
    margin-bottom: 0;
    }
}