@import 'stylesheet.css';
body {
        max-width: 1300px;
        margin: auto;
}
header{
    display: flex;
    align-items: center;
    margin: 10px;
    justify-content: space-around;
}
.top-nav-bar-left {
    display: flex;
    align-items: center;
    
}
.fa-bars {
    font-size: 1.5rem;
    padding: 10px;
}
.logo{
    
    min-width: 200px;
}
.main-search{
    flex-grow: 1;
    background-color: white;
    border-radius: 5px;
    height: 36px;
    align-items: center;
    justify-content: space-between;
    display: none;
    margin: 0 5px;
}
.main-search input, .main-search button{
    border: none;
    font-size: 1rem;
    background-color: white;
}
.main-search input{
    padding-left: 10px;
}
.main-search button{
    margin-right: 10px;
}
.top-nav-bar-right button:nth-child(1) {
    display:none;  
}

.loginBtn:hover, .registroBtn:hover {
    background-color: var(--azul-oscuro);
}


.explorar {
    border: none;
    padding: 0 4px;
    font-size: 1.1rem;
    max-width: 185px;
    height: 44px;
    display: none;
    text-decoration: none;
    color:var(--azul-oscuro);
    font-weight: 200;
}

.button{
    border: none;
    background-color: var(--azul-claro2);
    border-radius: 5px;
    padding: 5px;
    margin: 5px;
    font-size: 1rem;
    height: 36px;
    color: white;
}

.button a{
    text-decoration: none;
    color:white;
}

.categorias{
    border-top:1px var(--gris-oscuro) solid ;
    border-bottom:1px var(--gris-oscuro) solid ;
    display: none;
    overflow: hidden;
    justify-content: space-around;
}
.categorias ul{
    display: flex;
    list-style: none;
}
.categorias ul li{
    padding: 10px;
}
main{
    width: 100%;
}
.top-container-image{
    background-color: var(--azul-oscuro);
    text-align: center;
    padding: 10px;
}
.top-container-image img {
    display: none;
}
.contenedorBuscar h2 {
    font-size: 1.5rem;
    color: var(--gris-claro);
    padding: 8px;
}
.contenedorBuscar .main-search{
    top: 33%;
    left: 25px;
    width: 95%;
    display: flex;
    margin: auto;
}
.categories-popular {
    display: none;
}
.categories-popular ul {
    display: flex;
    list-style: none;
}
.categories-popular ul li,.categories-popular p {
    color: var(--gris-claro);
    padding: 0 8px;
    margin: 8px;
}
.categories-popular ul li {
    border: solid 2px var(--gris-claro);
    border-radius: 5px;
}
section {
    padding: 16px 0px;
}
.tituloSeccion{
    padding: 8px 16px;
}
.container-popular-services,.contenedorEncargarTrabajo{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.popular-service {
    margin: 10px;
    width: 100vw;
    position: relative;
    
}
.popular-service img{
    width: 100%;
    margin: auto;
    height: 250px;
}
.descripcion{
    position: absolute;
    top: 5px;
    left: 5px;
    font-size: 1.5rem;
    color: var(--gris-claro);
    background-color: #6c6c6c60;
    right: 5px;
}
.encargarTrabajo{
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 10px;
}
.descripcionTrabajo{
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 8px 4px;
}
.descripcionTrabajo img{
    width: 20%;
}
.descripcionTrabajo h3{
    width: 70%;
}
.contenedorCategoriasIconos{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    text-align: center;
}
.categoriaIcono{
    width: 30%;
    margin: 10px 0;
}
.categoriaIcono h3{
    font-size: 1rem;
}
.categoriaIcono i {
    font-size: 2.5rem;
    padding: 8px;
}
footer{
    display: flex;
    flex-direction: column;
    background-color: #6c6c6c60;
    margin: 8px;
    padding-top: 8px;
}
footer a, footer section{
    margin: auto;
    width: 90vw;
    text-align: center;
}
.listaFooter{
    display: none;
    list-style: none;
    
}
.tituloFooter{
    width: 100%;
    border-top: 1px var(--gris-oscuro) solid ;
    padding: 8px;
}
.listaRedes{
    margin: 8px auto;
    width: 80%;
    display: flex;
    list-style: none;
    font-size: 1.5rem;
    justify-content: space-around;

}




@media (max-width: 352px) {
    .top-nav-bar-right button:nth-child(2) {
        display: none;   
    }
}
@media (min-width: 460px) {
    .top-nav-bar-right {
        width: 48%;
        display: flex;
        align-items: center;
        justify-content: space-around;
    }
    .top-nav-bar-right button:nth-child(1) {
        display: inline;   
    }
    .popular-service, .encargarTrabajo {
        width: 45%;
    }
    .categoriaIcono{
        width: 22%;
    }
}
@media (min-width: 790px){
    
    .top-nav-bar-right {
        width: 23%;
    }
    .burger-menu{
        display: none;
    }
    .explorar {
        display: inline;
    }
    .main-search{
        display: flex;
        
    }
    .categorias{
        display: flex;
    }
    .categories-popular {
        display: flex;
         overflow: hidden;
    }
    .top-container-image{
        position: relative;
        padding: 0;
    }
    .top-container-image img {
        display: block;
        width: 100%;
    }
    .contenedorBuscar {
        position: absolute;
        top: 30%;
        left: 8px;
        width: 58%;
        background-color: #6c6c6c60;
    }
    .contenedorBuscar h2 {
        font-size: 2.5rem;
        font-weight: bold;
        color: var(--gris-claro);
        text-align: left;
    }
    .contenedorBuscar .main-search{
        width: 95%;
    }
    .popular-service, .encargarTrabajo {
        width: 22%;
    }
    .categoriaIcono{
        width: 18%;
    }
    footer{
        flex-direction: row;
        align-items:flex-start ;
    }
    .listaFooter{
        display: block;
    }
    .tituloFooter{
        border: none;
    }
    footer a, footer section{
        text-align: left;
    }
}