/*FORMATOS DE PAGINA BUSQUEDA_SERVICIOS.html*/
@import url(css/stylesheet.css);

.listaCategorias, .listaUbicaciones{
list-style: none;
margin:0;
padding:0;
}

.fa-magnifying-glass-dollar{
    color:var(--azul-oscuro);
    font-size: 24px;
    margin-bottom: 10px;
    display:block;
    text-align: center;
}

.mensajeNoEncontrado{
    text-align: center;
    margin-top: 30px;
    font-size: 20px;
}

.magMensajeNoEncontrado{
    text-align: center;
    margin-top: 100px;
    font-size: 60px;
}

.contenedorFiltros:hover li{
    color:black;
}

.contenedorBusquedas a{
    text-decoration: none;
    color:var(--azul-oscuro);
}

.listaCategorias li, .listaUbicaciones li{
margin-bottom: 6px;    
}

.listaCategorias li a, .listaUbicaciones li a{
text-decoration: none;
color:var(--gris-oscuro);
}


.filtroPrecio input{
    width: 70px;
    margin:0;
    margin-bottom: 10px;
}

.contenedorFiltros h3{
    margin:35px 0px 20px 0px;
    color:var(--azul-oscuro);
}

.contenedorBusquedas{
    background-color: white;
}

.contenedorCalificacion img{
    width: 80px;
    padding:10px;
}

.estrellaFiltros{
    width: 120px;
}

.botonBusquedaPrecio{
    width: 20px;
    display:block;
    margin-top: 10px;
    margin-left: 70px;
}

.contenedorDetalleServicio{
    
    border:solid var(--gris-oscuro) 1px;
    border-radius:8px;
    padding:20px;
    margin:15px
}


.contenedorTituloCalificacion{
    display:flex;
}

.contenedorFotoPerfil img{
    width: 110px;
    margin-top: 20px;
}


.contenedorTitulo{
    width: 70%;
}

.contenedorCalificacion{
    width: 30%;
}

.contenedorDescripcion{
    display: none;
}

.contenedorDerechoBusqueda p{
margin-bottom:0px;
margin-top:10px;
}

.contenedorDetalleServicio{
    text-decoration: none;
}

.contenedorTitulo h2{
    margin-top:0px;
    margin-bottom:10px ;
    color: var(--azul-oscuro);
}

.ciudadUbicacion{
    color:var(--gris-oscuro);
}

.precio{
    font-size: 18px;
}

.contenedorFiltros{
    display:none;
}

main{
    margin-top: 20px;
}

.filtroDesplegable{
    height: 20px;
    width: 100%;
    margin-right: 30px;
}

.filtrarDesplegable{
    text-align: right;
    padding-right:30px;
    font-size: 14px;
    margin-right: 30px;
}

.filtroDesplegable form{
    display: flex;
    justify-content: flex-end;
   margin-right: 30px;
}

.filtroDesplegable select{
    width: 160px;
    font-size: 12px;
    display: none;
    color:var(--azul-oscuro);
    position:relative;
    right:20px;
}

.filtroDesplegable:hover  select{
    display:block;
}

.filtroDesplegable:hover  .filtrarDesplegable{
    display:none;
}

.contenedorDetalleServicio:hover{
    box-shadow: 10px 10px 10px lightgray;
}

@media(min-width: 460px){ /* DISEÑO PARA TABLETS*/

    .contenedorCalificacion img{
        width: 100px;
    }

    .contenedorDescripcion{
        display: block;
    }

}


@media(min-width: 790px){ /*DISEÑO PARA PC*/

    .contenedorCalificacion img{
        width: 100px;
    }

    .contenedorDetalleServicio{
        display:flex;
    }

    .contenido{
        display:flex;
    }

    .contenedorFiltros{
        display:block;
        margin-top:50px;
        width: 15%;
        margin-left:20px;
    }

    .contenedorBusquedas{
        width: 80%;
        border-radius: 8px;
    }

    .contenedorFotoPerfil{
        width: 30%;
    }

    .contenedorDescripcion{
        display:block;
        width: 65%;
        text-align: justify;
    }

    .botonDeFiltros{
        display:none;
    }
}