<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <link rel="stylesheet" href="/css/stylesheet_home.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,500;0,700;1,700&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/10efa87d39.js" crossorigin="anonymous"></script>
    <title>Jobbok-home</title>
</head>
<body>
    <!-- Header -->
    <%- include('../partials/header.ejs') %> 
    
    <!-- Navbar categorias -->
    <%- include('../partials/navbarCategorias.ejs') %> 
    <main>
        <section>
            <div class="top-container-image">
                <img src="/images/home-main.jpg" alt="professional">
                <div class="contenedorBuscar">
                    <h2>Encuentra el profesional perfecto para tu negocio</h2>
                    <form action="/servicio/busqueda/" method="GET" class="main-search">
                        <input type="search" name="keywords" placeholder="servicios abogados">
                        <button><i class="fa-solid fa-magnifying-glass"></i></button>
                    </form>
                    <nav class="categories-popular">
                        <p>popular:</p>
                        <ul>
                            <li>contador</li>
                            <li>ingeniero</li>
                            <li>psicologo</li>
                            <li>mecanico</li>
                        </ul>
                    </nav>
                </div>
            </div>
        </section>
        <section>
            <h2 class="tituloSeccion">Servicios profesionales populares</h2>
            <div class="container-popular-services">
                <article class="popular-service">
                    <img src="/images/popular-services-financial.jpg" alt="img-cafetera-moulinex.jpg">                
                    <div class="descripcion">
                        <p class="price">Asesoria financiera</p>
                        <h3 >Declaración de renta</h3>
                    </div>
                </article>
                <article class="popular-service">
                    <img src="/images/popular-services-psychology.jpg" alt="img-cafetera-moulinex.jpg">                
                    <div class="descripcion">
                        <p class="price">Terapia emocional</p>
                        <h3 >Consulta un psicologo</h3>
                    </div>
                </article>
                <article class="popular-service">
                    <img src="/images/popularServicesBuild.jpg" alt="img-cafetera-moulinex.jpg">                
                    <div class="descripcion">
                        <p class="price">Diseña tu casa</p>
                        <h3 >Arquitectura tradicional</h3>
                    </div>
                </article>
                <article class="popular-service">
                    <img src="/images/popularServicesProcess.jpg" alt="img-cafetera-moulinex.jpg">                
                    <div class="descripcion">
                        <p class="price">Diseño de procesos</p>
                        <h3 >Ingeniería conceptual</h3>
                    </div>
                </article>
            </div>
        </section>
        <section>
            <h2 class="tituloSeccion">Necesitas encargar un trabajo</h2>
            <div class="contenedorEncargarTrabajo">
                <article class="encargarTrabajo">        
                    <div class="descripcionTrabajo">
                        <img src="/images/encargarTrabajoConstitucion.png" alt="img-cafetera-moulinex.jpg">
                        <h3 class="price">Constitución de empresas</h3>
                    </div>
                    <p >Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem.</p>
                </article>
                <article class="encargarTrabajo">        
                    <div class="descripcionTrabajo">
                        <img src="/images/encargarTrabajoRemodelacion.png" alt="img-cafetera-moulinex.jpg">
                        <h3 class="price">Remodelación de espacios</h3>
                    </div>
                    <p >Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem.</p>
                </article>
                <article class="encargarTrabajo">        
                    <div class="descripcionTrabajo">
                        <img src="/images/encargarTrabajoAuditoria.png" alt="img-cafetera-moulinex.jpg">
                        <h3 class="price">Auditorias</h3>
                    </div>
                    <p >Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem.</p>
                </article>
                <article class="encargarTrabajo">        
                    <div class="descripcionTrabajo">
                        <img src="/images/encargarTrabajoInstalar.png" alt="img-cafetera-moulinex.jpg">
                        <h3 class="price">Instalación</h3>
                    </div>
                    <p >Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem.</p>
                </article>
            </div>
        </section>
        <section>
            <h2 class="tituloSeccion">Necesitas encontrar un trabajo</h2>
            <div class="contenedorEncargarTrabajo">
                <article class="encargarTrabajo">        
                    <div class="descripcionTrabajo">
                        <img src="/images/encontrarTrabajoAbogado.png" alt="img-cafetera-moulinex.jpg">
                        <h3 class="price">Abogado laboral</h3>
                    </div>
                    <p >Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem.</p>
                </article>
                <article class="encargarTrabajo">        
                    <div class="descripcionTrabajo">
                        <img src="/images/encontrarTrabajoDelineante.png" alt="img-cafetera-moulinex.jpg">
                        <h3 class="price">Delineante architectura</h3>
                    </div>
                    <p >Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem.</p>
                </article>
                <article class="encargarTrabajo">        
                    <div class="descripcionTrabajo">
                        <img src="/images/encontrarTrabajoAuditor.png" alt="img-cafetera-moulinex.jpg">
                        <h3 class="price">Auditor ISO 9001</h3>
                    </div>
                    <p >Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem.</p>
                </article>
                <article class="encargarTrabajo">        
                    <div class="descripcionTrabajo">
                        <img src="/images/encontrarTrabajoFormulacion.png" alt="img-cafetera-moulinex.jpg">
                        <h3 class="price">Formulador</h3>
                    </div>
                    <p >Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem.</p>
                </article>
            </div>
        </section>
        <section >
            <h2 class="tituloSeccion">Categorias</h2>
            <div class="contenedorCategoriasIconos">
                <div class="categoriaIcono">
                    <i class="fa-solid fa-scale-balanced"></i>
                    <h3>abogados</h3>
                </div>
                <div class="categoriaIcono">
                    <i class="fa-solid fa-brain"></i>
                    <h3>psicologos</h3>
                </div>
                <div class="categoriaIcono">
                    <i class="fa-solid fa-gears"></i>
                    <h3>ingenieros</h3>
                </div>
                <div class="categoriaIcono">
                    <i class="fa-solid fa-file-invoice-dollar"></i>
                    <h3>contadores</h3>
                </div>
                <div class="categoriaIcono">
                    <i class="fa-solid fa-toolbox"></i>
                    <h3>mecanicos</h3>
                </div>
                <div class="categoriaIcono">
                    <i class="fa-solid fa-house"></i>
                    <h3>Hogar</h3>
                </div>
                <div class="categoriaIcono">
                    <i class="fa-solid fa-pen-ruler"></i>
                    <h3>Arquitectos<h3>
                </div>
                <div class="categoriaIcono">
                    <i class="fa-solid fa-plug-circle-bolt"></i>
                    <h3>Electricistas</h3>
                </div>
                <div class="categoriaIcono">
                    <i class="fa-solid fa-language"></i>
                    <h3>Linguistas</h3>
                </div>
                <div class="categoriaIcono">
                    <i class="fa-solid fa-tower-broadcast"></i>
                    <h3>Comunicador</h3>
                </div>
            </div>
        </section>
    </main>
    <!-- Footer -->
    <%- include('../partials/footer.ejs') %> 
</body>
</html>