<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="/images/favicon2.png" type="image/png">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,500;0,700;1,700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/stylesheet_login.css">
    <script src="https://kit.fontawesome.com/10efa87d39.js" crossorigin="anonymous"></script>
    <title>Jobbok-login</title>
</head>
<body>


    <!-- Header -->
    <%- include('../partials/header.ejs') %> 

    <!-- Navbar categorias -->
    <%- include('../partials/navbarCategorias.ejs') %> 

    <form class="formularioLogin" action="/usuario/profile/editar/password" method="POST" >
        <h2>Cambiar contraseña</h2>
        <label class="contenedorInput">
            <p class="tituloInput">Contraseña actual</p>
            <input type="password" name="password" placeholder="*********" class="input">
            <p class="advertencia"><i class="fa-regular fa-circle-xmark"></i> Este campo es obligatorio</p>
        </label>
        <label class="contenedorInput">
            <p class="tituloInput">Nueva contraseña</p>
            <input type="password" name="nuevaPassword" placeholder="*********" class="input">
            <p class="advertencia"><i class="fa-regular fa-circle-xmark"></i> Este campo es obligatorio</p>
        </label>
        <label class="contenedorInput">
            <p class="tituloInput">Confirmar nueva contraseña</p>
            <input type="password" name="confirmarPassword" placeholder="*********" class="input">
            <p class="advertencia"><i class="fa-regular fa-circle-xmark"></i> Este campo es obligatorio</p>
        </label>
        <p class="advertencia"><i class="fa-regular fa-circle-xmark"></i> E-mail y/o contraseña no valido</p>
        
        <% if (locals.errores && errores.password){%>
            <p class="mensajeError"><%= errores.password.msj %></p>
            <% } %>  
        <button class="boton" type="submit">Cambiar contraseña</button>
        <p><a href="">¿Has olvidado tu contraseña?</a></p>
    </form>


    <!-- Footer -->
    <%- include('../partials/footer.ejs') %> 
</body>
</html>